/* PORTADA */
@media screen and (max-width: 1400px) {
	nav ul {padding-left: 370px;
			padding-right: 60px;}
	nav li {padding-top: 114px;}
	.logo {width: 230px;
			left: 70px;}
	.redes{
	right:65px;
	}
}
@media screen and (max-width: 1150px) {
	.logo {width: 170px;
			left: 25px;}
	nav ul {padding-left: 230px;
		padding-right: 30px;}
	nav li {padding-top: 81px;}
	nav p {font-size: 18px;}
	.redes{
		right:35px;  }
}
@media screen and (max-width: 950px) {
	.logo {width: 140px;
		left: 20px;}
	nav ul {padding-left: 190px;
			padding-right: 20px;}
	nav li {padding-top: 63px;}
	.redes{
		right:25px;
		}
	.somos {margin-top: 18%; }
	.somosCom {font-size: 60.63px; 	line-height: 72px;}
	.somosDin {font-size: 76px;line-height: 72px;}

}


/* FILOSOFIA*/
@media screen and (max-width: 1150px) {
	.nuestraFilosofia {margin-top: 200px;}
	}

/* CIRCULOS FILOSOFIA*/
@media screen and (max-width: 1200px) {
	.circulos {
		width: 60%;}
	.circulo {
		margin-bottom: 30px;
	}
	}

/*SERVICIOS*/
@media screen and (max-width: 1400px) {
	.tituloItemServicios {
		width: 90%;
		display: inline-block;
		float: right;
		font-size: 11px;
		line-height: 20px;
		position: relative;
		top: 26px;
		left: 10px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.contentItem p {
			font-size: 11px;
			line-height: 22px;
			padding-top: 5%;
	}
	.contentItem {
		padding-top: 5px;
		padding-right: 5%;
		margin-top: 20px;
	}
	.contentLogo1,
	.contentLogo2,
	.contentLogo3,
	.contentLogo4 {
		display: inline-block;
		width: 30px; }
	#servicios .content {padding-left: 3%;}


	}

@media screen and (max-width: 1280px) {

	.tituloItemServicios {
		width: 89%;
		display: inline-block;
		float: right;
		font-size: 9px;
		position: relative;
		top: 27px;
		right: 20px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.contentItem p {
		font-size: 9px;
		line-height: 18px;
		padding-top: 5%;
	}
	.contentItem {
		margin-top: -10px;
		padding-right: 3%;
		padding-left: 1%;
	}
		#servicios .content {
			width: 70%;
		}
	}

/*FORMA DE TRABAJAR*/
@media screen and (max-width: 1280px) {

	#formaDeTrabajar .linea-medio {
		margin-top: 150px;
	}

	#formaDeTrabajar .contenido p {
		font-size: 90%;
		line-height: 25px;
		padding-left: 0px;
	}

	#formaDeTrabajar .contenido {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*EQUIPO*/
@media screen and (max-width: 1150px) {
	#nuestroEquipo {padding-top: 250px;  }
	#nuestroEquipo .titulo-seccion-arriba{padding-top: 40px;}
	}
/*CONTACTO*/
@media screen and (max-width: 1400px) {


	#contacto .izquierda {
		padding-top: 1%;
	}
	#contacto .izquierda div {margin-top: 7%;}

	#contacto .derecha {
		padding-top: 3.5%;
	}
	input {
		margin-bottom: 3.5%;
	}
	textarea {
		height: 110px;}


	}
@media screen and (max-width: 1100px) {
	#contacto .izquierda {
		padding-top: 20px;
		padding-left:40px;
		width: 45%;
	}
	#contacto h4, #contacto p {line-height: 18px}
	#contacto .izquierda div {margin-top: 7%;}
	#contacto .derecha {padding-top: 20px;}
	#contacto .derecha h4 {line-height: 16px;}
	input {margin-bottom: 3.5%;}
	textarea {height: 50px;}

	}
