 @font-face {
 font-family: "ROBOTOCONDENSED-BOLD";
 src: url("../Fonts/ROBOTOCONDENSED-BOLD.TTF");}

@font-face {
 font-family: "LATO-ITALIC";
 src: url("../Fonts/LATO-ITALIC.TTF");}

@font-face {
 font-family: "LATO-BOLD";
 src: url("../Fonts/LATO-BOLD.TTF");}
 
@font-face {
 font-family: "LATO-BLACK";
 src: url("../Fonts/LATO-BLACK.TTF");}

@font-face {
 font-family: "LATO-LIGHT";
 src: url("../Fonts/LATO-LIGHT.TTF");}
@font-face {
 font-family: "ROBOTO-LIGHT";
 src: url("../Fonts/ROBOTO-LIGHT.TTF");}

@font-face {
 font-family: "ANTON";
 src: url("../Fonts/ANTON.TTF");}

 @font-face {
 font-family: "ROBOTO-REGULAR";
 src: url("../Fonts/ROBOTO-REGULAR.TTF");}

 @font-face {
 font-family: "LATO-REGULAR";
 src: url("../Fonts/LATO-REGULAR.TTF");}

 @font-face {
 font-family: "ROBOTOCONDENSED-BOLD";
 src: url("../Fonts/ROBOTOCONDENSED-BOLD.TTF");}
