/* =Nav
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
    #menuDesplegable {display: inline-block;
    font-family: "ANTON", sans-serif;
    text-transform: uppercase;
        letter-spacing: .2em;
        padding-top: 10vh;
    }
    #nav-trigger {
    display: none;
    text-align: center; }
#nav-trigger span {
    display: inline-block;
    padding: 2vh 2vw;
    color: #F26F21;
    cursor: pointer;
 }
#nav-trigger span:after {
    display: inline-block;
    margin-left: 2vw;
    width: 2vw;
    height: 2vw;
    content: "";
    border-left: solid 2vw transparent;
    border-top: solid 2vw #F26F21;
    border-right: solid 2vw transparent; }

#nav-trigger span.open:after {
    border-left: solid 2vw transparent;
    border-top: none;
    border-bottom: solid 2vw #F26F21;
    border-right: solid 2vw transparent; }

nav {
    margin-bottom: 4vw; }

nav#nav-main {
    padding: 5vw 0; }
nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
nav#nav-main li {
    display: inline-block;
    border-right: solid .5vw #F26F21;
    padding: 0 1vw; }
nav#nav-main li:last-child {
    border-right: none; }
nav#nav-main a {
    display: block;
    color: white;
    padding: .5vw 1.5vw; }
nav#nav-main a:hover {
    color: #fff; }

nav#nav-mobile {
    position: relative;
    display: none; }
nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #F26F21; }
nav#nav-mobile li {
    display: block;
    padding: 2vh 0;
    margin: 0 2vw;
    border-bottom: solid .5vw #F26F21; }
nav#nav-mobile li:last-child {
    border-bottom: none; }
nav#nav-mobile a {
    display: block;
    color: white;
    padding: 0 1.5vw; }
nav#nav-mobile a:hover {
    color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */

    #nav-trigger {
        display: block; }

    nav#nav-main {
        display: none; }

    nav#nav-mobile {
        display: block; }
}