@media screen and (max-width: 900px) {
    /*============HOME============*/
    .main {background-size: cover;
        height: 100vh;
        width: 100%;}
    .somosCom, .somosDin {
        font-size: 30px;
        line-height: 32px;}
    .somos {margin-top: 60px;
    z-index: 10;}
    nav {z-index: 20; }
    .nav_item {
        float: left;
        position: relative;
        padding: 0;
        line-height: 20px;
    }

}